<!DOCTYPE html>
<html lang="it">
<head>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/fontawesome/js/all.js"></script>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/fontawesome/css/all.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>StarWars homepage</title>
</head>
<body>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="130" height="60" src="/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form style="width: 100%;" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Cerca film e personaggi" aria-label="Search">
            <button class="btn btn-outline-warning" type="submit">Cerca</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
    <h1>Mocc a mamt Lorenzo (Questa dovrebbe essere la lista dei film, era per provare bootstrap se funzionava)</h1>
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="/img/1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lorenzo scemo 1</h5>
            <p class="card-text">In questa foto Lorenzo mostra quanto è scemo da 1 a 10.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lorenzo scemo 2</h5>
            <p class="card-text">In questa foto Lorenzo stuprava minorenni con le caramelle, ed inoltre è stato anche arrestato!</p>
            <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/img/3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lorenzo scemo 3</h5>
            <p class="card-text">In questa foto Lorenzo rompe un lampadario con un calcio.</p>
            <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
          </div>
        </div>
      </div>
</body>
</html>