<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <script src="/js/playaudio.js"></script>
    <title>StarWars homepage</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <span id="musicControl" onclick="playAudio()" class="float">
    <i class="fas fa-play"></i> Avvia musica</span>
  </span>
  <audio id="soundtrack">
    <source src="sound/soundtrack.m4a" type="audio/mpeg">
  </audio>
  <div class="container-fluid d-flex p-0 w-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-film fa-10x p-3"></i></span>
            <div class="card-body">
              <a href="/films" class="btn btn-warning">Vedi lista film</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <a href="/characters" class="btn btn-warning">Vedi lista personaggi</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./footer.ejs') %>
  </div>
 
</body>
<script>
  var x = document.getElementById('soundtrack');
  function pauseAudio() {
    x.pause();
    var control = document.getElementById('musicControl');
    control.innerHTML="";
    control.innerHTML= '<i class="fas fa-play"></i> Avvia musica</span>'
    control.onclick = playAudio;
  }
  function playAudio() {
    x.play();
    var control = document.getElementById('musicControl');
    control.innerHTML="";
    control.innerHTML= '<i class="fas fa-pause"></i> Ferma musica</span>'
    control.onclick = pauseAudio;
  }
</script>
</html>