<head>
  <script src="/js/utils.js"></script>
</head>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../"><img width="130" height="60" src="/img/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../">Home</a>
          </li>
        </ul>
        <form id="searchBar" style="width: 100%;"  class="d-flex">
          <input id="inputText" class="form-control me-2" type="search" placeholder="Cerca film e personaggi" aria-label="Search">
          <button  class="btn btn-outline-warning" type="submit">Cerca</button>
        </form>
      </div>
    </div>
  </nav>

  <script>
      $("#searchBar").submit(function(e){
        e.preventDefault();
        const input = $('#inputText').val();
      const resultCharacter = ajaxCall('/characters/search/' + input);     
     // const resultFilm = ajaxCall('/film/search' + input);
      if(resultCharacter.characters.length != 0){
        window.location.href = '/character/' + resultCharacter.characters[0].name;
        return
      }

      const resultFilm = ajaxCall('/film/search/' + input);
      if(resultFilm.films.length != 0){
        window.location.href = '/film/' + resultFilm.films[0].title;
        return
      }
      alert('Personaggio o film non trovati')
      });
  </script>