<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <title>Lista personaggi</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Mario Baldi</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Un bel ragazzo bello</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Bocconcino</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Un bel ragazzo bello</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Ciccio Migliaro</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Un bel ragazzo bello</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Lorenzo Carpentieri</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Uno scemo da accoltellare</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Lodo</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Un bel ragazzo bello</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color: #212529ab!important;">
            <span><i class="fas fa-male fa-10x p-2"></i></span>
            <div class="card-body">
              <h5 class="card-title">Zuvann Zezz Bell</h5>
              <p class="card-text text-truncate" style="max-width: 400px;">Un bel ragazzo bello</p>
              <a href="/personaggio?name=example" class="btn btn-warning">Vedi scheda personaggio</a>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Precedente</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Successivo</a>
          </li>
        </ul>
      </nav>
    </main>
  
    <%- include('./footer.ejs') %>
  </div>
 
</body>
</html>