<!DOCTYPE html>
<html lang="it" class="h-100">
<head>
    <%- include('./headLib.ejs') %>
    <link href="/css/films.css" rel="stylesheet">
    <title>Mario baldi e il ritorno di bocconcino</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark"> 
  <div class="container-fluid d-flex p-0 w-100 h-100 mx-0 flex-column">
    <header class="mb-auto">
      <div class="container-fluid p-0">
        <%- include('./nav.ejs') %>
      </div> 
    </header>

    <main class="container-fluid mx-auto">
      <div class="row d-flex justify-content-center" style="margin-bottom: 20px;">
        <div class="card mb-3" style="max-width: 1040px;background-color: #212529ab!important;">
          <div class="row g-0">
            <div class="col-md-6">
              <span><i class="fas fa-male fa-10x p-2"></i></span>
            </div>
            <div class="col-md-6" style="margin-top:30px">
              <div class="card-body">
                <h5 class="card-title">Lorenzo Carpentieri</h5>
                <p class="card-text">Un ragazzo veramente scemo</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                   Film in cui appare: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi e il ritorno di bocconcino</li>
                    <li>Mario baldi lo scontro finale</li>
                    <li>Bocconcino vs Ciccio Migliaro</li>
                    <li>Lodo uccide Lorenzo (Finalmente)</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="">
                    Prima apparizione in ordine di storia: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi e il ritorno di bocconcino</li>
                    <li>Mario baldi lo scontro finale</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row p-3">
                <div class="col-md-6">
                  <div class="">
                   Prima menzione in ordine di storia: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi e il ritorno di bocconcino</li>
                    <li>Mario baldi lo scontro finale</li>
                    <li>Bocconcino vs Ciccio Migliaro</li>
                    <li>Lodo uccide Lorenzo (Finalmente)</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="">
                    Prima menzione in ordine di uscita: 
                  </div>
                  <br>
                  <ul class="list-group list-unstyled list-group-flush">
                    <li>Mario baldi e il ritorno di bocconcino</li>
                    <li>Mario baldi lo scontro finale</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

    </main>
  
    <%- include('./footer.ejs') %>
  </div>
 
</body>
</html>